{% extends 'main/base.html' %}
{% load staticfiles %}
{% block content %}
<br></br>
<div class="container-fluid">
 <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
   <div class="panel panel-success" >

     <form id="loginform" class="form-horizontal" role="form" action="{% url 'ahp_informaCriterioAlternativa' %}" method="POST" >
       {% csrf_token %} <!-- Para poder exibir o que foi submetido. -->
     {{ resultado }}
     <div><h1>Avaliação Global das Alternativas</h1></div>
     <div class="table-responsive">
       <table class="table">
         <thead>
           <tr>
             <th></th>
             {% for criterio in criterios %}
               <th>{{ criterio }} </th>
             {% endfor %}
           </tr>
         </thead>
         <tbody>
           {% for alt in alternativas %}
           <tr>

             <th>{{alt}}</th>

             <td>{{prioridades}}</td>
             <td>123</th>
             <td></td>
           </tr>
           {% endfor %}

         </tbody>
       </table>
     </div>



  </form>
   </div>
   </div>
   <!-- <script type="text/javascript" src="{% static 'jquery/jquery.min.js' %}"></script> -->
   <script type="text/javascript" src="{% static 'js/forms_ahp.js' %}"></script>
{% endblock %}
