{% extends 'main/base.html' %}
{% load staticfiles %}
{% block content %}

{% csrf_token %}  <!-- Para poder exibir o que foi submetido. -->
  <br></br>
  <form id="loginform" class="form-horizontal" role="form" action="{% url 'ahp_resultado' %}" method="POST" >
    {% csrf_token %}
    <div> <br><br>{{ dados }} </div>
      <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6">
          <div class="panel panel-success" >
              <div class="panel-heading">
                  <div class="panel-title"><b>Informe os Critérios:</b></div>
                  <div class="form-group">
                
                    {{criterioFormSet.as_p}}
                  </div>
              </div>
          </div>
      </div>

      <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6">
          <div class="panel panel-success" >
              <div class="panel-heading">
                  <div class="panel-title"><b>Informe as Alternativas:</b></div>
                    <div class="form-group">

                      {{alternativaFormSet.as_p}}
                    </div>
              </div>
          </div>
      </div>

      <div class="mainbox col-md-12">
        <button class="btn btn-lg btn-primary btn-success" type="submit">Confirmar</button>
        <a class="btn btn-lg btn-primary btn-danger" href="\">Cancelar</a>
      </div>
  </form>
{% endblock %}
