{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">

    <script type="text/javascript" src="{% static 'jquery/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery/jquery-modal.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery/jquery-ui.min.js' %}"></script>

    <link rel="icon" href="{% static 'Imagens/IconeMascote.png' %}" type="image/x-icon" />
    <link rel="shortcut icon" href="{% static 'Imagens/IconeMascote.png' %}" type="image/x-icon" />



    <!-- Latest compiled and minified JavaScript -->


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Sistema de Auxilio à Tomada de decisões</title>
  </head>
<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">TSistema de Auxilio à Tomada de decisões</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img width='35px' height='50px'src="{% static 'Imagens/IconeMascote.png' %}" alt='' href="/"></a>
      <a class="navbar-brand" href="/">Lapwing</a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>

        <li class="dropdown">
        <a data-toggle="dropdown" role="button" aria-haspopup="True" aria-expanded="False" href="">
          Escola Francesa
        <span aria-hidden="true"></span>
        </a>
        <ul id="dropdown-menu" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'resultado_matriz' %}">Electre I</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'insert_valores' %}">Electre III</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'qtdeCriterioAlternativa' %}">Electre Tri</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Soft Electre Tri</a></li>
        </ul>
       </li>

       <li class="dropdown">
       <a data-toggle="dropdown" role="button" aria-haspopup="True" aria-expanded="False" href="">
         Escola Americana
       <span aria-hidden="true"></span>
       </a>
       <ul id="dropdown-menu" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
         <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'ahp_insert_valores' %}">AHP</a></li>
           <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'ahp_foco_principal' %}">Foco Principal</a></li>
       </ul>
      </li>
        <li><a href="{% url 'sobre' %}">Sobre</a></li>
        <li><a href="http://portal1.iff.edu.br/">Institucional</a></li>

      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<body>
{% block content %}
{% endblock %}
</body>
</html>
