{% extends 'main/base.html' %}
{% load staticfiles %}
{% block content %}
<br></br>
<div class="container-fluid">
       <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
         <div class="panel panel-success" >
                <div class="panel-heading">
                    <div class="panel-title"><b>Informe os dados:</b></div>
                    <div style="float:right; font-size: 80%; position: relative; top:-10px"></div>

                    {% for dado in dados %}
                      <li>{{ dado }}</li>
                    {% endfor %}
                </div>
        </div>
      </div>
</div>
{% endblock %}
