{% extends 'main/base.html' %}
{% load staticfiles %}
{% block content %}

<br></br>

<form id="loginform" class="form-horizontal" role="form" action="{% url 'electreIII_InformaIndice' %}" method="POST" >
  {% csrf_token %}
   <div class="container-fluid">
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-success" >
                <div class="panel-heading">
                    <div class="panel-title"><b>Informe os Indices</b></div>
                      <div class="form-group">

                        <label for="firstname" class="col-md-3 control-label">Concordancia</label>
                        <div class="col-md-9">
                            <input required type="number" class="form-control" name="concordancia" placeholder="Informe o Valor">
                        </div>
                        <br></br>

                        <label for="firstname" class="col-md-3 control-label">Discordancia</label>
                        <div class="col-md-9">
                            <input required type="number" class="form-control" name="discordancia" placeholder="Informe o Valor">
                        </div>
                        <br></br>

                        <label for="firstname" class="col-md-3 control-label">Preferencia</label>
                        <div class="col-md-9">
                            <input required type="number" class="form-control" name="preferencia" placeholder="Informe o Valor">
                        </div>
                        <br></br>

                        <label for="firstname" class="col-md-3 control-label">Indiferenca</label>
                        <div class="col-md-9">
                            <input required type="number" class="form-control" name="indiferenca" placeholder="Informe o Valor">
                        </div>
                        <br></br>

                        <label for="firstname" class="col-md-3 control-label">Veto</label>
                        <div class="col-md-9">
                            <input required type="number" class="form-control" name="veto" placeholder="Informe o Valor">
                        </div>

                        <br></br>
                      </div>
                </div>
            </div>
        </div>
   </div>
   <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <button class="btn btn-lg btn-primary btn-success" type="submit">Confirmar</button>
      <a class="btn btn-lg btn-primary btn-danger" href="\">Cancelar</a>
   </div>
</form>

{% endblock %}
