
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Sistema de Auxilio à Tomada de decisões</title>
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">TSistema de Auxilio à Tomada de decisões</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Sistema de Auxilio à Tomada de decisões</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>

            <li class="dropdown">
              <a class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="true">Escola Francesa<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Electre I</a></li>
                <li><a href="#">Electre III</a></li>
                <li><a href="#">Electre Tri</a></li>
                <li><a href="#">Soft Electre Tri</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="true">Escola Americana<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">AHP</a></li>
              </ul>
            </li>

            <li><a href="{% url 'resultado_matriz' %}">Sobre</a></li>
            <li><a href="http://portal1.iff.edu.br/">Institucional</a></li>

          </ul>
        </div><!--/.nav-collapse -->

        <img src="iff.png" alt="ds">
      </div>
    </nav>
  </body>
</html>
