{% extends 'main/base.html' %}
{% load staticfiles %}
{% block content %}
<br></br>
<br></br>

<div class="container">
<!-- Jumbotron -->
   <div class="jumbotron">
     <h1>Quem Somos?!</h1>
     <p class="lead">Alunos do sétimo período de sistemas de informação, que através da disciplina de Tópicos Avançados desenvolveram um site para o auxílio de tomadas de decisões.</p>
     <p class="lead">Utilizando métodos para tomadas de decisão das escolas francesas e americana para desenvolver o algoritmo oferecendo opções para o usuário para a tomada de deciões.</p>
   </div>
</div>

{% endblock %}
